.buttonCaption { 
    font-family: 'Press Start 2P', cursive;
     color: white;

}
.resultCaption { /* div holding images and their captions (taller than images) */
    padding-top: 80px;
    padding-left: 60px;
}

h3 {
    text-align: center;
}
 body {
    background-color: black;
}














/*.userChoice {*/
/*    bottom: 0;*/
/*    right: 900;*/
/*    width: 300px;*/
/*    border: 3px solid;*/
/*}*/
/*.computerChoice {*/
/*    bottom: 200;*/
/*    right:900;*/
/*    width: 300px;*/
/*    border: 3px solid;*/
/*}*/
/*.winner {*/
/*    bottom: 0;*/
/*    right:500;*/
/*    width: 300px;*/
/*    border: 3px solid;*/
/*}*/
