.buttonCaption { 
    font-family: 'Press Start 2P', cursive;
     color: white;

}

.resultsBox { /* div holding images and their captions (taller than images) */
    height: 150px;
}

h3 {
    text-align: center;
}













/*.userChoice {*/
/*    bottom: 0;*/
/*    right: 900;*/
/*    width: 300px;*/
/*    border: 3px solid;*/
/*}*/
/*.computerChoice {*/
/*    bottom: 200;*/
/*    right:900;*/
/*    width: 300px;*/
/*    border: 3px solid;*/
/*}*/
/*.winner {*/
/*    bottom: 0;*/
/*    right:500;*/
/*    width: 300px;*/
/*    border: 3px solid;*/
/*}*/
